.bg-image {
    position: relative;
  }
  
  .bg-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
  }
  

.bg-image-aboutMe {
    background-color: #1c1f22;
}